body {
  margin: 5vw;
  font-family: monospace;
  font-size: 1.25rem;

  background-color: #0E121A; /* dracula? */
  color: white;
}

h1 {
  text-align: center;
  font-size: 2em;
}

ul {
  padding: 0;
  margin: 2em;
  margin-top: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  column-gap: 2em;
  row-gap: 1em;
}

li {
  list-style-type: none;
}

li * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link > div {
  width: 8em;
}

.url {
  font-size: 0.6em;
  color: lightgrey;
}

a:hover .url {
  color: white;
  text-decoration: underline;
}

img {
  height: 1em;
  margin-right: 0.5em;
}
